#top.row
  .medium-offset-5.medium-7.large-offset-7.large-5.columns
    .row
      .small-7.columns
        =link_to image_tag("facebook.png"), "https://www.facebook.com/rikkachet", :target => "_blank"
      .small-5.columns
        =link_to image_tag("email.png"), "mailto:rp@harlanray.com"
    .row
      .small-6.small-offset-4.columns
        =link_to image_tag("vimeo.png"), "https://vimeo.com/rikkachet", :target => "_blank"
.row
  .medium-10.large-6.small-centered.columns
    =image_tag "main.png"
